@media only screen and (min-width: 230px) and (max-width: 1279px) {
  .navbar__logo {
    width: 96px;
    height: 60px;
    margin: 22px 0 67px 19px;

  }
  .navbar__list{
    display: none;
  }
}
@media screen and (min-width: 1280px){
.navbar{
  background: #EEEFF1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 166px;

}
.navbar__logo {
  width: 96px;
  height: 60px;
}
.navbar__list {
  display: flex;
  list-style-type: none;
  margin: 0 0 0 398px;
}

.list__element{
  margin-right: 45px;
  font-weight: 400;
}
.list__element:last-child{
  margin-right: 0;
}
.list__element_focused:hover{
  color: #34547A;
  font-weight: 500;
}
}