@media only screen and (min-width: 230px) and (max-width: 1279px) {
  .footer {
    background: #34547A;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 39px 0;
  }

  .footer__text-container {
    text-align: center;
    margin-bottom: 30px;

  }

  .text-container__copyright {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer {
    background: #34547A;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0 50px 0;
  }



  .text-container__copyright {
    margin: 20px 0 0 0;
    font-size: 13px;
  }


}

.img-container__logo {
  width: 43.75px;
  height: 40px;
  margin-right: 21.88px;
}

.img-container__logo:last-child {
  width: 43.75px;
  height: 40px;
  margin: 0;
}

.text-container__h3 {
  margin: 0;
  font-size: 21px;
  font-weight: 500;
}