@media only screen and (min-width: 230px) and (max-width: 1279px) {
  .main__section-aboutme {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 91px 26px 82px 26px;
  }

  .container-aboutme__header {
    margin: 0;
    font-size: 32px;
  }

  .section-textme__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-aboutme__p {
    margin: 0;
    padding: 42px 0 0 0;
  }
}

@media only screen and (min-width: 1280px) {
  .main__section-aboutme {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 119px 0 100px 0;
  }

  .container-aboutme__header {
    margin: 0;
    font-size: 32px;
    text-align: center;
  }
  .container-aboutme__p{
    padding-bottom: 0;
  }
}