@media only screen and (min-width: 230px) and (max-width: 1279px) {
  .main__section-aboutme {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 91px 27px 82px 26px;
  }
  .section-aboutme__header {
    margin: 0 0 42px 0;
    font-size: 32px;

  }
  .section-textme__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   .section-aboutme__p {

    width: 322px;
    height: 98px;
  }
}
@media only screen and (min-width: 1280px) {
  .main__section-aboutme {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 119px 0 100px 0;
  }

  .section-aboutme__header {
    margin: 0 0 50px 0;
    font-size: 32px;
    text-align: center;

  }

}