@media only screen and (min-width: 230px) and (max-width: 1279px) {
  .main__section-projects {
    background-color: #34547A;
    display: grid;
    padding: 75px 19px 74px 18px;
    grid-template-columns: repeat(2, 1fr);
    gap: 89px 57px
  }

  .projects-container__p {
    margin: 0;
    padding: 10px 0 0 0;
    color: #fff;
  }

  .section-projects__container {
    display: flex;
    flex-wrap: wrap;
  
    
  }
  
  .projects-container__header {
    color: #fff;

    margin: 0;
  }
  .section-projects__container:last-child {
    margin:  0;
  }
}

@media only screen and (min-width: 1280px) {
  .main__section-projects {
    background-color: #34547A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;

  }



  .projects-container__header {
    color: #fff;
    margin: 0;
    font-size: 21px;
    font-weight: 500;

  }

  .projects-container__p {
    padding: 10px 0 0 0;
    margin: 0;
    color: #fff;
  }


  .section-projects__container{
    display: flex;
    flex-wrap: wrap;
    margin:  0 50px 0 0;
  }
  .section-projects__container:last-child {
    margin:  0;
  }
  
}

.container__logo {
  width: 50px;
  height: 50px;
  margin: 0 20px 0 0;
}