@media only screen and (min-width: 230px) and (max-width: 1279px) {
  .main__section-textme {
    background: #EEEFF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 37px 95px 36px;
  }

  .section-textme__img {
    width: 298px;
    height: 195px;
    margin-bottom: 51px;
  }

  .container-textme__header {
    margin: 0;
    line-height: 100%;
    font-size: 36px;
  }

  .section-textme__container-textme {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-textme__p {
    margin: 0;
    padding: 44px 0;
  }
}

@media screen and (min-width: 1280px) {
  .main__section-textme {
    background: #EEEFF1;
    display: flex;
    justify-content: center;
    padding: 0 0 146px 0;
  }

  .section-textme__container-textme {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .section-textme__img {
    margin: 0 130px 0 0;
  }

  .container-textme__p {
    text-align: left;
    padding-top: 60px;
    padding-bottom: 60px;
    line-height: 164.063%;
  }

  .container-textme__header {
    margin: 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 164.063%;
  }

  .container-textme__button {
    padding: 25px 41px;
  }
}