.main__section-textme{
  background: #EEEFF1;
  display: flex;
  justify-content: center;
  
}
.section-textme__container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 143px;
}
.section-textme__p{
  width: 540px;
  height: 67px;
  color: #727272;
}
.section-textme__button, .button{
  width: 225px;
  height: 65px;
  border: none;
  background-color: #34547A;
  color: #fff;
  text-align: center;
  font-size: 16px;
}