@media only screen and (min-width: 230px) and (max-width: 1279px) {
  .main__section-textme {
    background: #EEEFF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 39px 95px 38px;
  }
  .section-textme__img{
    width: 298px;
    height: 195px;
    margin-bottom: 51px;
  }
  .section-textme__container-textme {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-textme__p {
    width: 322px;
    height: 98px;
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .main__section-textme {
    background: #EEEFF1;
    display: flex;
    justify-content: center;
    padding: 0 0 146px 0;
  }

  .section-textme__container-textme {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .section-textme__img{
    margin: 0 130px 0 0;
  }
  .container-textme__p {
    width: 540px;
    height: 67px;
    color: #727272;
    margin-bottom: 60px;
    text-align: left;
  }
 
  .container-textme__header {
    font-size: 48px;
    font-weight: 500;
    line-height: 78.75px;
  }
}