@media only screen and (min-width: 230px) and (max-width: 1279px) {
  .main__section-website {
    background: #EEEFF1;
    padding: 91px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-website__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 48px 0;
  }

  .section-website__p {
    padding: 34px 27px 48px 27px;
    margin: 0;

    line-height: 120%;
  }

  .section-website__header {
    margin: 0;
  }


  .form__name-input {
    margin: 0 0 22px 0;
    padding: 17px 148px 18px 20px;
    border: none;
    box-sizing: border-box;
  }

  .form__email-input {
    box-sizing: border-box;
    border: none;
    padding: 17px 148px 18px 20px;
    margin-bottom: 22px;
  }

  .form__message-input {
    padding: 17px 145px 143px 20px;
    box-sizing: border-box;
    border: none;

  }
}

@media only screen and (min-width: 1280px) {
  .main__section-website {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EEEFF1;
    padding: 100px 690px;
  }

  .section-website__form {
    text-align: center;
    margin: 0 0 50px 0;
  }

  .form__name-input {
    margin: 0;
    padding: 17px 57px 18px 20px;
    border: none;
    margin-right: 30px;
  }

  .form__email-input {
    border: none;
    padding: 17px 57px 18px 20px;
    margin-bottom: 20px;
  }

  .form__message-input {
    padding: 17px 342px 143px 20px;
    box-sizing: border-box;
    border: none;

  }

  .section-website__p {
    padding-bottom: 65px;
  }

}